<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config/>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <clear/>
    <add key="MyGet" value="https://www.myget.org/F/msbuildsdks/api/v3/index.json" />
    <add key="Local1" value="pkg\" />
  </packageSources>
</configuration>